[submodule "app/src/main/jni/coffeecatch"]
	path = app/src/main/jni/coffeecatch
	url = https://github.com/xroche/coffeecatch.git
[submodule "app/src/main/jni/httrack"]
	path = app/src/main/jni/httrack
	url = https://github.com/xroche/httrack.git
